<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dictionary</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="../static/script.js" defer></script>
</head>
<body>

<h1>Technical Dictionary Spanish-English</h1>

<form id="searchForm">
    <label for="search">Technical word:</label>
    <input type="text" id="search" name="query" placeholder="Search..." >
    <button type="button" id="searchButton">Search</button> <!-- Cambié type="searchButton" a type="button" -->
</form>

<p id="result"></p>

</body>
</html>